@font-face {
  font-family: Manrope;
  src: local("Manrope"), local("Manrope-Bold");
  src: url("../fonts/manrope/Manrope-Bold.eot");
  src: url("../fonts/manrope/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope/Manrope-Bold.woff2") format("woff2"), url("../fonts/manrope/Manrope-Bold.woff") format("woff"), url("../fonts/manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: local("Manrope"), local("Manrope-SemiBold");
  src: url("../fonts/manrope/Manrope-SemiBold.eot");
  src: url("../fonts/manrope/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/manrope/Manrope-SemiBold.woff") format("woff"), url("../fonts/manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: local("Manrope"), local("Manrope-Regular");
  src: url("../fonts/manrope/Manrope-SemiBold.eot");
  src: url("../fonts/manrope/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope/Manrope-Regular.woff2") format("woff2"), url("../fonts/manrope/Manrope-Regular.woff") format("woff"), url("../fonts/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #757575;
}

.container {
  max-width: 1279px;
  width: 100%;
  margin: 0 auto;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.black-bg {
  background: #2d3035;
}

.dark-bg {
  background: #35383e;
}

.white-color {
  color: #fff;
}

.logo {
  width: 100%;
  height: 100%;
}

.btn {
  padding: 15px 0;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.yellow-btn {
  background: #fba50d;
  border: 2px solid #fba50d;
  transition: 0.2s ease-in-out;
  color: #000;
}

.clear-btn {
  border: 2px solid #fff;
  color: #fff;
}

.clear-yellow-btn {
  border: 2px solid #fba50d;
  color: #fba50d;
}

.hover-yellow:hover {
  background: #fba50d;
  border: 2px solid #fba50d;
  color: #000;
}

.input {
  outline: none;
  padding: 11px 20px 12px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 180%;
  color: #fff;
}

.input::placeholder {
  color: #ababab;
  font-size: 14px;
  line-height: 180%;
}

.more-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.more-card__content {
  position: relative;
  text-align: center;
}

.more-card__count {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.more-card__all {
  position: relative;
  display: inline-block;
  padding-right: 23px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.more-card__all:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("../../img/icon/arrow-more-yellow.svg");
}

.more-card__all:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: block;
  width: 15px;
  height: 13px;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-image: url("../../img/icon/arrow-more-white.svg");
}

.category-card {
  position: relative;
  width: 414px;
  height: 320px;
  margin-bottom: 20px;
}

.category-card:hover .category-card__img {
  transform: scale(1.1);
}

.category-card__content {
  position: relative;
  padding: 40px;
}

.category-card__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.category-card__img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
}

.category-card__shadow {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(129.05deg, rgba(0, 0, 0, 0.8) 18.27%, rgba(45, 48, 53, 0) 91.57%);
}

.category-card__title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.category-card__count {
  color: #ababab;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.category-more {
  border: 1px solid #fba50d;
  width: 414px;
  height: 320px;
  color: #fba50d;
}

.category-more:hover {
  background: #fba50d;
  color: #fff;
}

.category-more:hover .category-more__all:after {
  opacity: 1;
}

.category-more__all:before {
  background-image: url("../../img/icon/arrow-more-yellow.svg");
}

.category-more__all:after {
  background-image: url("../../img/icon/arrow-more-white.svg");
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 20px 0;
  padding: 20px 15px;
  border: 1px solid rgba(139, 139, 139, 0.3);
  width: 305px;
  height: 440px;
  transition: 0.2s ease-in-out;
}

.product-card:hover {
  border: 1px solid #fba50d;
  transform: scale(1.02);
}

.product-card__title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.product-card__title:hover .product-card__link {
  color: #fba50d;
}

.product-card__link {
  transition: 0.2s ease-in-out;
  color: #444a52;
}

.product-card__preview {
  margin: auto 0 20px 0;
  height: 177px;
}

.product-card__img {
  height: 100%;
}

.product-card__desc {
  font-size: 12px;
  line-height: 16px;
  min-height: 70px;
  margin-bottom: 9px;
}

.product-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__btn {
  position: relative;
  width: 133px;
  padding: 9px 0 9px 20px;
}

.product-card__btn:hover {
  background: #ffc201;
  border: 2px solid #ffc201;
}

.product-card__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../../img/icon/basket-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-card__current {
  color: #444a52;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2px;
}

.product-card__current--text {
  font-size: 12px;
  line-height: 16px;
}

.product-card__old {
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: line-through;
}

.product-more {
  border: 1px solid rgba(139, 139, 139, 0.3);
  width: 305px;
  height: 440px;
  transition: 0.2s ease-in-out;
  color: #444a52;
}

.product-more:hover {
  border: 1px solid #fba50d;
  transform: scale(1.02);
  color: #fba50d;
}

.product-more:hover .product-more__all:after {
  opacity: 1;
}

.product-more__all:before {
  background-image: url("../../img/icon/arrow-more-grey.svg");
}

.product-more__all:after {
  background-image: url("../../img/icon/arrow-more-yellow.svg");
}

.service-card {
  position: relative;
  border: 1px solid #494b4f;
  height: 305px;
  width: 305px;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.service-card:hover .service-card__title {
  top: 50px;
}

.service-card:hover .service-card__curtain {
  transform: translate(0, 0%);
}

.service-card--big {
  width: 630px;
}

.service-card__link {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.service-card__title {
  position: absolute;
  top: 227px;
  left: 30px;
  transition: 0.4s ease-in-out;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  z-index: 100;
}

.service-card__curtain {
  display: flex;
  padding: 90px 30px 50px 30px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fba50d;
  transform: translate(0, 100%);
  transition: 0.4s ease-in-out;
}

.service-card__desc {
  max-width: 350px;
  width: 100%;
  margin-bottom: auto;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}

.service-card__detail {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.service-card__detail::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 16px;
  height: 14px;
  transform: translate(0, -50%);
  background-image: url("../../img/icon/arrow-more-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.service-more {
  position: relative;
  border: 1px solid #494b4f;
  color: #fff;
  width: 305px;
  height: 305px;
}

.service-more:hover .service-more__bg {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.service-more__bg {
  position: absolute;
  transform: translate(40%, 50%);
  width: 100%;
  height: 100%;
  background: #fba50d;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s, visibility 0s ease-in-out 0.3s;
}

.service-more_all::before {
  background-image: url("../../img/icon/arrow-more-white.svg");
}

.header {
  position: relative;
}

.header__top {
  height: 100px;
  display: flex;
  align-items: center;
}

.header__top--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__top-inner {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 96px;
  height: 41px;
  margin: 0 70px 10px 0;
}

.header-nav {
  margin-right: 70px;
}

.header-nav__list {
  display: flex;
}

.header-nav__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  transition: 0.2s ease-in-out;
}

.header-nav__link:hover {
  color: #fba50d;
}

.header-nav__arrow {
  margin: 3px 0 0 6px;
  width: 10px;
  height: 5px;
}

.header__connection {
  margin-right: 30px;
}

.header__contact {
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.header__contact:last-child {
  margin-right: 0;
}

.header__contact--mail {
  text-decoration: underline;
}

.header-city {
  position: relative;
  cursor: pointer;
}

.header-city:hover .header-city__name {
  color: #fba50d;
}

.header-city:hover .header-city__arrow:after {
  opacity: 1;
}

.header-city__name {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  padding-right: 15px;
  transition: 0.2s ease-in-out;
}

.header-city__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 5px;
}

.header-city__arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/icon/arrow-down-light.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-city__arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-image: url("../../img/icon/arrow-down-yellow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-nav {
  margin-left: auto;
}

.icon-nav__list {
  display: flex;
}

.icon-nav__item {
  margin-right: 45px;
  cursor: pointer;
}

.icon-nav__item:last-child {
  margin-right: 0;
}

.icon-nav__link {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.icon-nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-nav__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-nav__link--basket::before {
  background-image: url("../../img/icon/basket-light.svg");
}

.icon-nav__link--basket::after {
  background-image: url("../../img/icon/basket-yellow.svg");
}

.icon-nav__link--basket:hover::after {
  opacity: 1;
}

.icon-nav__link--search::before {
  background-image: url("../../img/icon/search-light.svg");
}

.icon-nav__link--search::after {
  background-image: url("../../img/icon/search-yellow.svg");
}

.icon-nav__link--search:hover::after {
  opacity: 1;
}

.header-content {
  position: relative;
  border-bottom: 5px solid #515151;
}

.header__video-item {
  display: block;
}

.header__main {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
  z-index: 100;
}

.header__title {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 66px;
  color: #fff;
}

.header__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 160%;
  color: #fff;
}

.header__buttons {
  display: flex;
}

.header__btn {
  padding: 13px 0 14px 0;
  width: 188px;
  margin-right: 20px;
}

.header__btn:last-child {
  margin-right: 0;
}

.header__slide {
  width: 460px;
}

.header__video-item {
  width: 100%;
}

.header-video-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}

.header-tab {
  position: relative;
  width: 33.5%;
}

.header-tab__link {
  display: block;
  height: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.header-tab__link:hover {
  color: #fba50d;
}

.header-tab__link:hover .header-tab__line-bg {
  width: 100%;
}

.header-tab__link--active {
  color: #fba50d;
}

.header-tab__line {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

.header-tab__line-bg {
  width: 0;
  height: 5px;
  background: #8f8f8f;
  transition: 0.5s ease-in-out;
}

.header-tab__line-bg--aciove {
  width: 100%;
}

.header-tab__progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 5px;
  background: #fba50d;
}

.section {
  position: relative;
}

.section__bg {
  width: 100%;
}

.section__inner {
  padding-top: 80px;
}

.section__title {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 60px;
  color: #232323;
}

.section__title--white {
  color: #fff;
}

.section__text {
  width: 500px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.category-card-tile {
  padding-bottom: 60px;
}

.product-card-tile {
  padding-bottom: 60px;
}

.services {
  padding-bottom: 156px;
}

.about-block {
  position: relative;
  max-height: 676px;
  z-index: 1000;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}

.about-block__bg {
  width: 100%;
  height: 100%;
}

.about-block__inner {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
}

.about-block__left {
  width: 520px;
}

.about-block__title {
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 60px;
}

.about-block__buttons {
  display: flex;
  align-items: center;
}

.about-block__btn {
  display: block;
  width: 150px;
  padding: 13px 0px 14px;
  margin-right: 60px;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.about-block__play {
  position: relative;
  display: block;
  padding: 14px 40px 14px 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.about-block__play::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../../img/icon/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.feedback__left {
  padding: 100px 0;
}

.feedback__text {
  width: 414px;
  margin-bottom: 40px;
}

.feedback__title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 36px;
  line-height: 49px;
}

.feedback__desc {
  color: #fff;
  font-size: 16px;
  line-height: 160%;
}

.feedback__body {
  display: flex;
  margin-bottom: 50px;
}

.feedback__input {
  width: 197px;
  margin-right: 20px;
}

.feedback__submit {
  width: 197px;
  padding: 12px 0 13px;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s ease-in-out;
  font-weight: bold;
  font-size: 12px;
  line-height: 180%;
}

.feedback__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.feedback__checkbox {
  display: none;
}

.feedback__checkbox:checked + .feedback__fake {
  background: #fba50d;
}

.feedback__checkbox:checked + .feedback__fake::before {
  background-image: url("../../img/icon/tick.svg");
}

.feedback__fake {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background: #e0e0e0;
  transition: 0.2s ease-in-out;
}

.feedback__fake::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.feedback__fake--active {
  background: #fba50d;
}

.feedback__fake--active::before {
  background-image: url("../../img/icon/tick.svg");
}

.feedback__label-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 180%;
}

.feedback__img {
  width: 630px;
  height: 542px;
}

.mb30 {
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */