.about-block {
  position: relative;
  height: 560px;
  @media (min-width: 1050px) {
    height: auto;
    max-height: 676px;
  }
}

.about-block__left {
  max-width: 520px;
  width: 100%;
}

.about-block__title {
  font-weight: bold;
  margin-bottom: 50px;

  color: $white;
  font-size: 24px;
  line-height: 33px;

  @media (min-width: 1050px) {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 66px;
  }
}

.about-block__buttons {
  display: flex;
  align-items: center;
}

.about-block__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 150px;
  padding: 13px 0px 14px;

  align-items: center;
  transition: 0.2s ease-in-out;

  @media (min-width: 768px) {
    position: static;
    margin-right: 60px;
  }
}

.about-block__play {
  position: relative;
  display: block;
  padding: 14px 40px 14px 0;
  cursor: pointer;

  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  transition: 0.2s ease-in-out;
  &::before {
    @include font-icon-style("\e90e", 22px);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: block;
    width: 22px;
    height: 22px;
  }
  &:hover {
    color: $yellowMain;
  }
}
