.about {
  position: relative;
}

.about__inner {
  padding-top: 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    padding-top: 280px;
  }
}

.about__shadow {
  position: fixed;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  height: 253px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #2d3035 26.88%, rgba(45, 48, 53, 0) 100%);
  @media (min-width: 768px) {
    display: block;
  }
}

.about__list {
  margin-bottom: 60px;
  @media (min-width: 1050px) {
    margin-bottom: 230px;
  }
}

.about__item {
  width: 100%;
  //padding: 70px 0;
  margin-bottom: 60px;
  @media (min-width: 768px) {
    display: flex;
    max-width: 440px;
  }
  @media (min-width: 1050px) {
    padding: 70px 0;
    //margin-bottom: 80px;
    //margin-bottom: 80px;
  }
}

.about__content {
  padding: 0 15px;
  margin-bottom: 30px;
  @media (min-width: 1310px) {
    padding: 0 0;
  }
}

//.about__item--start {
//  margin-bottom: 130px;
//}

.about__title {
  color: $white;
  font-size: 21px;
  line-height: 27px;
  @media (min-width: 360px) {
    font-size: 24px;
    line-height: 33px;
  }
  @media (min-width: 1280px) {
    font-size: 30px;
    line-height: 41px;
  }
}

.about__text {
  margin: 30px 0 30px 0;

  color: $white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  @media (min-width: 360px) {
    font-size: 15px;
    line-height: 28px;
  }
  @media (min-width: 1280px) {
    font-size: 16px;
    line-height: 30px;
    margin: 30px 0 0 0;
  }
}

.about__desc {
  //max-width: 370px;
  margin-top: 30px;
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.about__preveiw {
  min-width: 45%;
  @media (min-width: 768px) {
    display: none;
  }
}

.about__img {
  width: 100%;
}

.about__time-work {
  margin-bottom: 25px;
  color: $white;
  font-weight: 300;
  font-size: 24px;
}
