.application {
  padding: 0 15px;

  margin-bottom: 30px;
  @media (min-width: 1310px) {
    padding: 60px;
  }
}

.application__inner {
  background: $pearl;
  padding: 50px 15px;
}

.application__title {
  margin-bottom: 30px;

  color: $blackMain;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  @media (min-width: 1310px) {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 20px;
  }
}

.application__text {
  max-width: 740px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 30px;
  @media (min-width: 1310px) {
    font-size: 16px;
    margin-bottom: 90px;
  }
}
