.basket {
  margin-top: 50px;
}
.basket__content {
  //display: none;
}
.basket__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.basket__title {
  color: $blackMain;

  font-size: 30px;
  line-height: 41px;

  @media (min-width: 1050px) {
    font-size: 48px;
    line-height: 66px;
  }
}

.basket__clear {
  position: relative;
  display: none;
  padding-left: 30px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  &::before {
    @include font-icon-style("\e911", 24px);
    position: absolute;
    left: 0;
  }
  @media (min-width: 1050px) {
    display: block;
  }
}

.basket__list {
  margin-bottom: 50px;
}

.basket__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.basket-clear__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $line;
  height: 60px;
  width: 100%;
  margin-bottom: 60px;
  @media (min-width: 600px) {
    width: 250px;
    margin-bottom: 0;
  }
  @media (min-width: 1050px) {
    display: none;
  }
}

.basket-clear__text {
  display: block;
}

.basket__back {
  position: relative;
  display: none;
  padding-left: 17px;

  color: $yellowMain;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  &::before {
    @include font-icon-style("\e91a", 16px);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  @media (min-width: 1050px) {
    display: block;
  }
}

.basket__price {
  text-align: right;
  margin-left: auto;
  @media (min-width: 1050px) {
    display: block;
  }
}

.basket__discount {
  display: block;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 22px;
}

.basket-total {
  color: $blackMain;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}

.basket-total__price {
  font-size: 30px;
  line-height: 40px;
  @media (min-width: 1050px) {
    font-size: 36px;
    line-height: 49px;
  }
}

.basket__arrange-btn {
  margin-left: auto;
  margin-bottom: 60px;
  color: $blackMain;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  @media (min-width: 600px) {
    width: 321px;
  }
}
