.branches-map {
  padding: 100px 0;

  height: 727px;
  background-image: url("../../img/image/other/map2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.branches-map__title {
  width: 311px;
  color: $white;
  font-size: 36px;
  line-height: 49px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}
