.callback-block {
  max-height: 620px;
  background: $black;
}

.callback-block__title {
  color: $white;
  font-size: 24px;
  line-height: 33px;
  max-width: 414px;
  margin-bottom: 30px;
  @media (min-width: 1050px) {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 50px;
  }
}

.callback-block__btn {
  display: block;
  width: 197px;
  padding: 13px 0 14px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
