.error404 {
  max-width: 520px;
  margin: 60px auto 80px;
  padding: 15px;
  color: $blackMain;
  text-align: center;
  @media (min-width: 800px) {
    margin: 100px auto 127px;
  }
}

.error404__img {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  @media (min-width: 800px) {
    max-width: 330px;
  }
}

.error404__text {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  @media (min-width: 800px) {
    font-size: 48px;
    line-height: 66px;
  }
}

.error404__desc {
  margin-bottom: 60px;

  font-size: 12px;
  line-height: 180%;
  @media (min-width: 800px) {
    font-size: 15px;
  }
}

.error404__btn {
  display: inline-block;
  width: 226px;

  color: $blackMain;
}
