.feedback {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.feedback__left {
  padding: 50px 0;
  width: 100%;
  @media (min-width: 700px) {
    padding: 100px 0;
  }
}

.feedback__text {
  width: 100%;
  max-width: 412px;
  margin-bottom: 40px;
}

.feedback__title {
  margin-bottom: 30px;

  color: $white;
  font-size: 24px;
  line-height: 33px;
  @media (min-width: 700px) {
    font-size: 36px;
    line-height: 49px;
  }
}

.feedback__desc {
  color: $white;
  font-size: 14px;
  line-height: 160%;
  @media (min-width: 700px) {
    font-size: 16px;
  }
}

.feedback__body {
  display: flex;
  flex-wrap: wrap;
  //margin-bottom: 50px;
  width: 100%;
  @media (min-width: 700px) {
    width: 640px;
  }
}
.feedback__input {
  width: 100%;
  margin: 0 0 20px 0;
  @media (min-width: 700px) {
    margin: 0 20px 0 0;
    width: 197px;
  }
}
.feedback__submit {
  width: 100%;
  padding: 12px 0 13px;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s ease-in-out;
  order: 1;
  font-weight: bold;
  font-size: 12px;
  line-height: 180%;
  @media (min-width: 700px) {
    width: 197px;
    order: 0;
  }
}

.feedback__label {
  margin: 20px 0 40px;
  @media (min-width: 700px) {
    margin: 40px 0 0;
  }
}

.feedback__img {
  display: none;
  width: 630px;
  height: 542px;
  @media (min-width: 1050px) {
    display: block;
  }
}

.feedback--light-bg {
  .feedback__title {
    color: $blackMain;
  }
  .feedback__desc {
    color: $blackMain;
  }
  .feedback__input {
    border: 1px solid $blackMain;
  }
}
