.feedback {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.feedback__left {
  padding: 100px 0;
}

.feedback__text {
  width: 414px;
  margin-bottom: 40px;
}

.feedback__title {
  margin-bottom: 30px;

  color: $white;
  font-size: 36px;
  line-height: 49px;
}

.feedback__desc {
  color: $white;
  font-size: 16px;
  line-height: 160%;
}

.feedback__body {
  display: flex;
  margin-bottom: 50px;
}
.feedback__input {
  width: 197px;
  margin-right: 20px;
}
.feedback__submit {
  width: 197px;
  padding: 12px 0 13px;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s ease-in-out;

  font-weight: bold;
  font-size: 12px;
  line-height: 180%;
}

.feedback__img {
  width: 630px;
  height: 542px;
}

.feedback--light-bg {
  .feedback__title {
    color: $blackMain;
  }
  .feedback__desc {
    color: $blackMain;
  }
  .feedback__input {
    border: 1px solid $blackMain;
  }
}
