.filters {
  position: fixed;
  //display: none;
  width: 100%;
  overflow: auto;
  justify-content: flex-end;
  align-items: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  transition: background 0.3s ease-in-out;
  background: rgba(228, 228, 228, 0);
  z-index: -1000;
  overflow-x: hidden;

  @media (min-width: 1050px) {
    z-index: 0;
    display: flex;
    position: sticky;
  }
}

.filters--closed {
  z-index: 1000;
}

.filters--open {
  background: rgba(228, 228, 228, 0.6);
  .filters-wrap {
    transform: translate(0, 0);
  }
}

.filters-wrap__inner {
  position: relative;
  border: 1px solid $line;
  background: $white;
}

.filters-wrap {
  margin-left: auto;
  transform: translate(100%, 0);
  transition: 0.3s ease-in-out;
  @media (min-width: 1050px) {
    transform: translate(0, 0);
  }
}

.filters__top {
  @media (min-width: 1050px) {
    display: none;
  }
}

.filters__close {
  display: block;
  max-width: 116px;
  margin: 0 0 60px auto;
}

.filters__title {
  font-size: 24px;
  line-height: 33px;
  color: $blackMain;
  margin-bottom: 40px;
}
.filters-wrap {
  max-width: 400px;
  background: $white;
  padding: 20px;
  //border: 1px solid $line;
  @media (min-width: 1050px) {
    padding: 0;
  }
}

.filter__top {
  cursor: pointer;
}

.filter__price {
  padding: 20px;
}

.filter__inputs {
  display: flex;
  margin-bottom: 30px;
}

.filter__search {
  padding: 14px 20px 15px;
  border-top: none;
}

.filter__input {
  width: 100%;
  margin-right: 10px;
  padding: 8px 12px;
  border: 1px solid $line;

  color: $blackMain;
  font-size: 14px;
  line-height: 19px;
  &:last-child {
    margin-right: 0;
  }
}

.filter__input::-webkit-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 19px;
}
.filter__input:-ms-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 19px;
}
.filter__input::-ms-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 19px;
}
.filter__input::placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 19px;
}

.filter__bottom {
  border-top: 1px solid $line;
  padding: 30px 20px;
}

.filter__result {
  margin-bottom: 20px;

  color: $text;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

.filter__btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__btn--clear {
  transition: 0.2s ease-in-out;
  border: 1px solid $line;
  &:hover {
    background: $pearl;
  }
}
