.footer-nav {
  margin-bottom: 50px;
}

.footer-nav__item {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav__link {
  color: $white;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  &:last-child {
    margin-bottom: 0;
  }
}
