.footer-bottom__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 220px;
  border-top: 1px solid $line;

  text-align: center;
  @media (min-width: 650px) {
    flex-direction: row;
    padding-top: 10px;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    height: 70px;
    border-top: none;
  }
  @media (min-width: 1050px) {
    align-items: center;
    height: 70px;
  }
}

.footer__item {
  @media (min-width: 650px) {
    width: 50%;
  }
  @media (min-width: 1050px) {
    width: 25%;
  }
}

.footer-bottom__text,
.footer-bottom__link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 16px;
}

.footer-bottom__copy {
  order: 2;
  @media (min-width: 1050px) {
    order: 0;
  }
}

.footer-bottom__privacy {
  margin-bottom: 30px;
  @media (min-width: 650px) {
    margin-bottom: 15px;
  }
  @media (min-width: 1050px) {
    margin-bottom: 0;
  }
}

.footer-bottom__link {
  color: $yellowMain;
  @media (min-width: 1050px) {
    color: rgba(255, 255, 255, 0.5);
  }
}

.footer-bottom__site-map {
  display: none;
  @media (min-width: 650px) {
    display: flex;
  }
}

.footer-bottom__dizain {
  display: flex;
  align-items: center;
  order: 1;
  margin-bottom: 30px;
  @media (min-width: 650px) {
    margin-bottom: 15px;
  }
  @media (min-width: 1050px) {
    margin-bottom: 0;
  }
}

.footer-bottom__dizain-logo {
  position: relative;
  display: block;
  margin-left: 20px;
  width: 121px;
  height: 16px;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 121px;
    height: 16px;
    background-image: url("../../img/dizain.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
