.form__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    flex-direction: row;
    //justify-content: space-between;
    margin-bottom: 40px;
  }
}

.form__side {
  //width: 49%;
  //margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 49%;
  }
}

.form-block {
  margin-bottom: 40px;
}

.form-query-card {
  position: relative;
  background: $pearl;
  padding: 40px 5px;
  min-height: 150px;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 480px) {
    padding: 40px 33px;
  }
}

.form-query-card__delete {
  position: absolute;
  right: 5px;
  top: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $blackMain;
  padding-right: 20px;
  &::before {
    @include font-icon-style("\e91e", 10px);
    width: 10px;
    height: 10px;
  }
  @media (min-width: 768px) {
    right: 30px;
    top: 20px;
  }
}

.form-block__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-block__error-btn {
  display: block;
  margin-top: 30px;
  width: 200px;
}

.form-block__title {
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: $text;
}

.form-block__group {
  margin-bottom: 40px;
}

.form-block__group-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: $blackMain;
}

.form-block__inputs {
  display: grid;
  align-items: start;
  //grid-template-columns: 1;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-block__file-label {
  display: flex;
  align-items: center;
  border: 1px solid #a7a7a7;
}

.form-block__file-side {
  margin-right: 20px;
}

.form-block__file-desc {
  margin: 0;
}

.form-block__submit {
  display: block;
  margin: 40px 20px 0 0;
  width: 100%;
  @media (min-width: 768px) {
    margin-top: 0;
    width: 200px;
  }
}

.form__input {
  width: 100%;
  margin-bottom: 30px;
}

.form__input-block {
  @media (min-width: 1310px) {
    display: flex;
  }
}

.mr20 {
  margin-right: 20px;
}

.form__textarea {
  width: 100%;
  height: 50px;
  padding: 11px 10px 5px;
  background: rgba(0, 0, 0, 0);
  @media (min-width: 768px) {
    height: 100%;
    padding: 13px 10px 13px;
  }
}

.form__file {
  position: relative;
  display: none;
  height: 50px;

  padding-left: 30px;
  align-items: center;
  border: 1px dashed #a7a7a7;
  color: #a7a7a7;

  &::before {
    @include font-icon-style("\e922", 18px);
    position: absolute;
    transform: rotate(45deg);
    left: 10px;
  }
  @media (min-width: 768px) {
    display: flex;
  }
}

.form__file-text {
  margin-right: 20px;

  font-size: 14px;
  line-height: 180%;
}
.form__file-format {
  display: none;
  font-size: 10px;
  line-height: 180%;
  @media (min-width: 1280px) {
    display: block;
  }
}

.form__bottom {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.form__file-wrap {
  margin-bottom: 40px;
  @media (min-width: 768px) {
    display: none;
  }
}

.form__file--mobile {
  display: flex;
  margin-bottom: 10px;
}

.form__file-desc {
  font-size: 10px;
  line-height: 160%;
}

.form__checkbox {
  margin-bottom: 40px;
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.form__submit {
  order: 1;
  width: 100%;
  @media (min-width: 768px) {
    order: 0;
    width: 200px;
    margin: 0 20px 0 0;
  }
}

.form-block__list {
  margin-bottom: 40px;
}

.form-block__add {
  margin-bottom: 40px;
}

.form-selects-wrap {
  position: relative;
}

.form-block__spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background: rgba(255, 255, 255, 0.5);
}

.form-block__spinner--show {
  display: flex;
}

.form-block__footer {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
}

.form-block__footer--hide {
  display: none;
}
