.galeria-modal {
  //position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.galeria-modal__close {
  position: absolute;
  right: 60px;
  top: 60px;
}

.galeria-modal__inner {
  padding: 30px;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.galeria-modal__inner--show {
  opacity: 1;
}

.galeria-modal__img {
  height: 80vh;
}
