.header__top {
  height: 110px;
  display: flex;
  align-items: center;
}

.header__top--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__top-inner {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 96px;
  height: 41px;
  margin: 0 70px 10px 0;
  background-image: url("../../img/logo-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
