.header-city {
  display: none;
  position: relative;
  cursor: pointer;
  height: 100%;

  @media (min-width: 768px) {
    display: block;
    display: flex;
    align-items: center;
  }
}

.header-city__name {
  font-size: 12px;
  line-height: 16px;
}

.header-city__arrow {
  height: 16px;
}
