.header-modal {
  position: absolute;
  left: 0;
  top: 0;
  //padding-top: 110px;
  width: 100%;
  background: $blackMain;
  min-height: 100vh;
  z-index: 100;
}

.header-modal__bd {
  border-top: 110px solid $bgBlack;
}
.header-modal--hide {
  display: none;
}

.header-modal__inner {
  padding: 40px 0;
}

.header-modal__search {
  margin-bottom: 40px;
}
