.header-video-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
}

.header-tab {
  position: relative;
  width: 33.5%;
}

.header-tab__link {
  display: block;
  height: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: $white;
  transition: 0.5s ease-in-out;
  &:hover {
    color: $yellowMain;
  }

  &:hover .header-tab__line-bg {
    width: 100%;
  }
}

.header-tab__link--active {
  color: $yellowMain;
}

.header-tab__line {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

.header-tab__line-bg {
  width: 0;
  height: 5px;
  background: $grey;
  transition: 0.5s ease-in-out;
}

.header-tab__line-bg--aciove {
  width: 100%;
}

.header-tab__progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 5px;
  background: $yellowMain;
}
