.header {
  position: relative;
}

.header--fixed {
  z-index: 1000;
}

.header__bg {
  position: relative;
}

.header__img {
  position: relative;
  height: 100%;
  @media (min-width: 1050px) {
    width: 100%;
  }
}

.header__img-wrap {
  height: 560px;
  @media (min-width: 1050px) {
    height: auto;
  }
}
