.header-modal {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  //padding-top: 110px;
  width: 100%;
  //background: $blackMain;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  z-index: 1000;
  @media (min-width: 1280px) {
    z-index: 500;
    display: none;
    transform: translateX(0%);
  }
}

.header-modal__bd {
  @media (min-width: 1280px) {
    border-top: 110px solid $bgBlack;
  }
}
.header-modal__bd--white {
  border-color: $white;
}

.header-modal--show {
  transform: translateX(0);
  display: block;
}

.header-modal__inner {
  position: relative;
  background: $blackMain;
  padding: 100px 0 40px;
  @media (min-width: 1280px) {
    padding: 60px 0;
  }
}

.header-modal__main {
  margin-bottom: 30px;
}

.header-modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-modal__title {
  color: $white;
  font-size: 24px;
  font-weight: bold;
}

.header-modal__search {
  margin-bottom: 40px;
}

.header-modal__more {
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 15px 30px;
}
