.header-video-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 500;
  //display: none;
  @media (min-width: 1050px) {
    display: flex;
  }
}

.header-tab {
  display: block;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: $white;
  transition: 0.5s ease-in-out;
  position: relative;
  margin-right: 30px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $yellowMain;
  }

  &:hover .header-tab__line-bg {
    width: 100%;
  }

  @media (min-width: 1050px) {
    margin-right: 0px;
    height: 70px;
    width: 33.5%;
  }
}

.header-tab--active {
  color: $yellowMain;

  & .header-tab__line-bg {
    width: 100%;
  }
  .video-dots__item {
    background: $yellowMain;
  }
}

.video-dots {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 30px;
  width: 100%;

  z-index: 1000;
  @media (min-width: 1050px) {
    display: none;
  }
}

.header-tab__title {
  display: none;
  @media (min-width: 1050px) {
    display: block;
  }
}

.video-dots__item {
  display: block;
  width: 15px;
  height: 15px;
  //margin-right: 30px;
  border-radius: 50%;
  background: #595959;
  transition: 0.2s ease-in-out;
  &:last-child {
    margin-right: 0;
  }
  @media (min-width: 1050px) {
    display: none;
  }
}

.header-tab__line {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  @media (min-width: 1050px) {
    display: block;
  }
}

.header-tab__line-bg {
  display: none;
  width: 0;
  height: 5px;
  background: $grey;
  transition: 0.5s ease-in-out;
  @media (min-width: 1050px) {
    display: block;
  }
}

.header-tab--leave {
  & .header-tab__line-bg {
    margin-left: auto;
  }
}

.header-tab__progress {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background: $yellowMain;
  transition: 0.25s linear;
  @media (min-width: 1050px) {
    display: block;
  }
}
