.nav-icon {
  margin-left: auto;
}

.nav-icon__list {
  display: flex;
}

.nav-icon__item {
  position: relative;
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-icon__link {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  color: $white;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    color: $yellowHover;
  }
}

.nav-icon__link--basket {
  &::before {
    @include font-icon-style("\e915", 23px);
  }
}

.nav-icon__link--search {
  &::before {
    @include font-icon-style("\e90b", 23px);
  }
}

.nav-icon__count {
  position: absolute;
  border: 1px solid #000;
  top: 0;
  right: -27px;
  display: flex;
  width: 22px;
  height: 22px;
  background: $yellowMain;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  font-family: $manrope;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.nav-icon__count--empty {
  display: none;
}
