.info-modal {
  position: fixed;
  bottom: 0;
  padding: 80px 0;
  transform: translate(0, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  //min-height: 180px;
  width: 100%;
  z-index: -2000;
  background: $lightBg;
  transition: transform 0.3s ease-in-out;
}

.info-modal--open {
  transform: translate(0, 0);
}

.info-modal--confirmation {
  background: $yellowMain;
}

.info-modal--error {
  background: $errorColor;
}

.info-modal__close {
  position: absolute;
  top: 35px;
  right: 35px;
}

.info-modal__text {
  margin-bottom: 20px;

  color: $black;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.info-modal__subtext {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.info-modal__link {
  &:hover {
    text-decoration: underline;
  }
}

.info-modal--hide {
  z-index: -2000;
}

.info-modal--show {
  z-index: 2000;
}

.info-modal__btns {
  display: flex;
  justify-content: center;
}

.info-modal__btn {
  display: block;
  width: 250px;
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
  }
}
