.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(228, 228, 228, 0);
  backdrop-filter: blur(0px);
  z-index: 2000;
  transition: background 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal--is-hide {
  z-index: -1000;
}

.modal--is-open {
  background: rgba(228, 228, 228, 0.6);
  backdrop-filter: blur(20px);
  z-index: 1000;
  .modal__body {
    transform: translate(0, 0);
  }
}

.modal__body {
  //display: none;
  position: relative;
  transform: translate(100%, 0);
  width: 100%;
  max-width: 473px;
  min-height: 100vh;
  background: $white;
  margin-left: auto;
  padding: 95px 15px 30px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out;
  @media (min-width: 1050px) {
    padding: 95px 50px 50px;
  }
}

.modal__body--big {
  max-width: 1075px;
}

//.modal__content {
//  margin: auto;
//  background: $white;
//}
.modal-dynamic__content {
  min-height: 150px;
}
.modal__close {
  position: absolute;
  top: 40px;
  right: 50px;
}

.modal__title {
  margin-bottom: 30px;

  color: $blackMain;
  font-size: 24px;
  line-height: 33px;
  @media (min-width: 1050px) {
    margin-bottom: 50px;
  }
}

.modal__subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: normal;
  color: $bgBlack;
}

.modal__inputs-block {
  margin-bottom: 30px;
}

.modal__input {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__file {
  margin-bottom: 60px;
}

.modal__submit {
  color: $blackMain;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.modal__select {
  margin-bottom: 30px;
  z-index: 150;
}

//.blinds {
//  position: fixed;
//  top: 0;
//}

.blinds--is-close {
  .blind {
    height: 50vh;
  }
}

.blinds--is-hide {
  display: none;
}

.blind {
  position: absolute;
  height: 0vh;
  background: $white;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.blind--up {
  top: 0;
}

.blind--down {
  bottom: 0;
}
