.partners-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners-slider__body {
  max-width: 1170px;
  width: 160px;
  @media (min-width: 480px) {
    width: 320px;
  }
  @media (min-width: 640px) {
    width: 480px;
  }

  @media (min-width: 800px) {
    width: 640px;
  }
  @media (min-width: 960px) {
    width: 800px;
  }
  @media (min-width: 1100px) {
    width: 100%;
  }
}
.partners-slider__track {
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  //min-width: 234px;
  //width: 160px;
  @media (min-width: 1310px) {
    height: 95px;
    margin-bottom: 0;
  }
}

.partners-slider__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  height: 100%;
  cursor: pointer;
  &:hover .partners-slider__icon--hover {
    opacity: 1;
  }
  @media (min-width: 1310px) {
    min-width: 234px;
  }
}

.partners-slider__icon {
  position: relative;
  max-width: 160px;
  height: 100%;
  opacity: 0.3;
  color: #898989;
  transition: 0.3s ease-in-out;
  @media (min-width: 1310px) {
    max-width: 200px;
  }
}

.partners-slider__icon--hover {
  transition: 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
}

.partners-slider__item.active .partners-slider__icon {
  opacity: 1;
}

.partners-slider__item.active .partners-slider__icon--hover {
  opacity: 0;
}

.partners-slider__control {
  display: flex;
  width: 110px;
}

.partners-slider__btn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: $bgBlack;
  transition: 0.2s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 8px;
    height: 16px;
    transform: translate(-50%, -50%);
    color: $white;
  }
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $yellowMain;
  }
}

.partners-slider__prev {
  &::before {
    @include font-icon-style("\e91a", 18px);
  }
}
.partners-slider__next {
  margin-left: auto;
  &::before {
    @include font-icon-style("\e91b", 18px);
  }
}
