.question-confirm {
  text-align: center;
}

.question-confirm__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.question-confirm__answer {
  display: flex;
}

.question-confirm__btn {
  width: 200px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
//<div data-file-block="" class="modal__file file">
//            <label data-file-label="" class="file__label">
//              <span data-file-text="" class="file__text">serial.jpg. 364.48 кб</span>
//              <input data-input="" type="file" name="file" class="file__input hide-placeholder">
//            </label>
//            <span class="file__clear-btn file__clear-btn--is-show" data-clear-file="">очистить файл</span>
//            <p class="file__desc">
//              Необязательно. Файл до 10 МБ в формате doc, docx, pdf, jpg, png, xls, xlsx или zip.
//            </p>
//          </div>
