.regions {
  width: 100%;

  //flex-grow: 1;
}

.region-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  @media (min-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.region {
  margin: 0 0 50px 0;
}

.region__title {
  //max-width: 305px;
  width: 100%;
  margin-bottom: 30px;

  color: $white;
  font-size: 18px;
  line-height: 120%;
}
.area__title {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  color: $greyLight;
  font-size: 14px;
  line-height: 37px;
  &::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  &:hover {
    color: $white;
  }
}

.area__title--open {
  color: $white;
  &::before {
    content: "-";
  }
}
.area__body {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.area__city {
  padding-left: 20px;
  transition: 0.2s ease-in-out;

  color: $white;
  font-size: 14px;
  line-height: 266.6%;
  &:hover {
    color: $yellowMain;
  }
}

.regions__cities {
  display: none;
  width: 100%;
}

.city-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @media (min-width: 950px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
