.section {
  position: relative;
}

.section__bg {
  width: 100%;
}

.section__inner {
  padding-top: 80px;
}

.section__title {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 60px;
  color: $textBlack;
}

.section__title--white {
  color: $white;
}

.section__text {
  width: 500px;
  margin-bottom: 60px;

  color: $white;
  font-size: 14px;
  line-height: 24px;
}
