.section {
  position: relative;
}

.section__inner {
  padding-top: 80px;
}

.section__title {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 60px;
}

.section__title--white {
  color: $white;
}
