.settings-display {
  display: flex;
  margin: 50px auto 30px;
}

.settings-display__search {
  margin: 0 30px 0 auto;
  width: 508px;
}

.settings-display__input {
  padding: 10px 15px;
}

.settings-display__selects {
  display: flex;
}

.settings-display__select {
  width: 259px;
  margin-right: 66px;

  &:last-child {
    margin-right: 0;
  }
}

.settings-display__select-title {
  padding: 12px 20px 13px;
}

.display__toggle {
  display: flex;
}
