.slider {
  overflow: hidden;
}

.slider--with-padding {
  //padding: 5px;
  padding: 0px;
  @media (min-width: 600px) {
    padding: 0px;
  }
}

.slide {
  margin-right: 20px;
}

.slide-scale {
  margin-right: 17px;
}
.slide--big {
  min-width: 414px;
}

.slider__track {
  padding: 5px 0;
  display: flex;
  //margin-bottom: 40px;
  transition: 0.3s ease-in-out;
}

.product-card-slider {
  margin-bottom: 80px;
}

.products-arrow {
  margin-top: 30px;
}

.hide-arrow {
  display: none;
}
