.today {
  margin-bottom: 30px;
}

.today__title {
  color: $white;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 130px;
}

.today__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after {
    content: "";
    display: block;
    min-width: 414px;
  }
}

.today-card {
  min-width: 414px;
  margin-bottom: 130px;
}
.today-card__title {
  margin-bottom: 30px;

  color: $yellowMain;
  font-size: 48px;
  line-height: 66px;
}
.today-card__text {
  color: $white;
  font-weight: bold;
  font-size: 24px;
  line-height: 160%;
}
