.advantage-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 0 0 20px 0;
  padding: 0 30px 0;
  height: 180px;
  border-radius: 10px;
  background-color: rgba(238, 238, 238, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  &:last-child {
    margin: 0;
  }
  @media (min-width: 1160px) {
    margin: 0 20px 0 0;
    min-width: 30%;
    max-width: 30%;
  }
}

.advantage-item__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 82px;
  height: 82px;
  margin-bottom: 10px;
}

.advantage-item__quarter {
  position: absolute;
  display: block;
  width: 41px;
  height: 41px;
}

.lt {
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
  background: $yellowMain;
}

.rt {
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
  background: $yellowMain;
}

.lb {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%;
  background: $yellowMain;
}

.rb {
  bottom: 0;
  right: 0;
  border-radius: 0 0 100% 0;
  background: $yellowMain;
}

.advantage-item__img {
  position: relative;
  width: 40px;
  height: 40px;
  &::before {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    line-height: 1;
    font-size: 40px;
    color: $black;
  }
}

.advantage-item__img--clock {
  &::before {
    content: "\e912";
  }
}

.advantage-item__img--box {
  &::before {
    content: "\e914";
  }
}

.advantage-item__img--pay-card {
  &::before {
    content: "\e90f";
  }
}

.advantage-item__img--cash {
  &::before {
    content: "\e913";
  }
}

.advantage-item__img--doc {
  &::before {
    content: "\e910";
  }
}

.advantage-item__img--time {
  &::before {
    content: "\e90a";
  }
}

.advantage-item__img--question {
  &::before {
    content: "\e90c";
  }
}

.advantage-item__count {
  position: relative;
  color: $black;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
}
.advantage-item__title {
  color: $black;
  font-size: 18px;
  line-height: 24px;
}
