.btn {
  padding: 15px 0;
  outline: none;

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.btn__value {
  position: relative;
  padding-left: 28px;
  display: inline-block;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    width: 18px;
    height: 18px;

    color: $blackMain;
  }
}

.yellow-btn {
  background: $yellowMain;
  border: 2px solid $yellowMain;
  transition: 0.2s ease-in-out;
  color: $blackMain;
}

.clear-btn {
  border: 2px solid $white;
  padding: 13px 0 14px;
  color: $white;
}

.clear-yellow-btn {
  border: 2px solid $yellowMain;
  color: $yellowMain;
}

.hover-yellow {
  &:hover {
    background: $yellowMain;
    border: 2px solid $yellowMain;
    color: $black;
  }
}

.hover-yellow-light {
  &:hover {
    background: $yellowHover;
    border: 2px solid $yellowHover;
    color: $black;
  }
}

.close-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
  color: $black;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  &::before {
    @include font-icon-style("\e91e", 10px);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: block;
    width: 10px;
    height: 10px;
  }
  @media (min-width: 1050px) {
    padding: 10px 30px 10px 10px;
    font-size: 18px;
    line-height: 25px;
    &::before {
      @include font-icon-style("\e91e", 14px);
      width: 14px;
      height: 14px;
    }
  }
}

.display__btn {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border: 1px solid $line;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 16px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.display__btn--list {
  &::before {
    background-image: url("../../img/icon/list.svg");
  }
}
.display__btn--list-active {
  &::before {
    background-image: url("../../img/icon/list-active.svg");
  }
}

.display__btn--tile {
  &::before {
    background-image: url("../../img/icon/tile.svg");
  }
}

.display__btn--tile-active {
  &::before {
    background-image: url("../../img/icon/tile-active.svg");
  }
}
.form-block__add {
  display: inline-block;

  background: $pearl;
  padding: 13px 28px;

  font-weight: bold;
  font-size: 14px;
  line-height: 180%;
  color: $blackMain;

  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background: #dfdfdf;
  }
}
