.category-more {
  border: 1px solid $yellowMain;
  width: 100%;
  height: auto;
  padding: 40px;
  color: $yellowMain;
  &:hover {
    background: $yellowMain;
    color: $white;

    @media (min-width: 1280px) {
      max-width: 414px;
    }
  }
}
