.contact__title {
  display: block;
  margin-bottom: 10px;

  color: $white;
  font-size: 12px;
  line-height: 16px;
}

.contact__link {
  color: $white;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  &:hover {
    text-decoration: underline;
  }
}
