.dropdown {
  border-top: 1px solid $line;
  &:first-child {
    border-top: none;
  }
}

.dropdown__top {
  position: relative;
  transition: 0.2s ease-in-out;
  padding: 0;
  &::before {
    @include font-icon-style("\e919", 8px);
    position: absolute;
    top: 29px;
    left: 20px;
    display: block;
    height: 8px;
    width: auto;
    transition: 0.2s ease-in-out;
    //transform: translate(0, -50%);
  }
  &:hover {
    background: $pearl;
  }
}

.dropdown__top--active {
  background: $pearl;
  &::before {
    transform: rotateX(-180deg);
  }
}

.dropdown__title {
  cursor: pointer;
  display: block;
  padding: 21px 0 21px 50px;
  color: $blackMain;
  font-weight: bold;

  width: 100%;

  font-size: 16px;
  line-height: 22px;
}

.dropdown__arrow {
  display: block;
  margin-right: 10px;
  border-radius: 3px;
  background: $white;
  cursor: pointer;

  &:hover .dropdown__arrow-icon {
    transform: rotateX(-180deg);
  }
}

.dropdown__arrow-icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  transition: 0.2s ease-in-out;
  &::before {
    @include font-icon-style("\e919", 8px);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 14px;
    height: 6px;
    transform: translate(-50%, -50%);
  }
}

.dropdown__body {
  overflow: hidden;
  height: 0;
  transition: 0.2s ease-in-out;
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
}

.dropdown__body {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}

.dropdown__link {
  display: block;
  padding: 21px 0;
  color: $blackMain;
  font-weight: bold;

  width: 100%;

  font-size: 16px;
  line-height: 22px;
}

.dropdown__item {
  border-top: 1px solid $line;
}

.dropdown__item--hide {
  display: none;
}

.dropdown__item-link {
  position: relative;
  display: block;
  padding: 22px 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $pearl;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 6px;
    height: 100%;
    transition: 0.2s ease-in-out;
  }
}

.filter__label {
  display: block;
}
.filter__checkbox {
  display: none;
}

.filter__checkbox:checked + .dropdown__item-link {
  background: $pearl;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 6px;
    height: 100%;
    background: $yellowMain;
  }
}
