.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo-img {
  width: 146px;
  height: auto;
  margin-right: 25px;
}

.footer__title {
  width: 110px;

  color: $white;
  font-weight: normal;
  font-size: 9px;
  line-height: 140%;
}
