.input {
  padding: 13px 10px 13px;
  border: 1px solid #a7a7a7;
  font-size: 16px;
  line-height: 22px;
  color: $blackMain;
}

.input::-webkit-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}
.input:-ms-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}
.input::-ms-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}
.input::placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}

.textarea {
  height: 182px;
  padding: 13px 10px 13px;
  border: 1px solid #a7a7a7;
  resize: none;

  font-family: $manrope;
  $color: $blackMain;
  font-size: 16px;
  line-height: 180%;
}

.textarea::-webkit-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}
.textarea:-ms-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}
.textarea::-ms-input-placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}
.textarea::placeholder {
  font-family: $manrope;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 22px;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  display: none;
  &:checked + .checkbox__fake {
    &::before {
      @include font-icon-style("\e91f", 16px);
    }
    background: $yellowMain;
  }
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background: #e0e0e0;
  transition: 0.2s ease-in-out;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    color: black;
  }
}

.checkbox__fake--active {
  &::before {
    @include font-icon-style("\e91f", 16px);
  }
  background: $yellowMain;
}

.checkbox__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 180%;
}

.feedback__input {
  padding: 11px 20px 12px;
  border: 1px solid $white;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 180%;
  color: $white;
}

.feedback__input::-webkit-input-placeholder {
  color: $greyLight;
  font-size: 14px;
  line-height: 180%;
}
.feedback__input:-ms-input-placeholder {
  color: $greyLight;
  font-size: 14px;
  line-height: 180%;
}
.feedback__input::-ms-input-placeholder {
  color: $greyLight;
  font-size: 14px;
  line-height: 180%;
}
.feedback__input::placeholder {
  color: $greyLight;
  font-size: 14px;
  line-height: 180%;
}
