.management-card {
  //width: 305px;
  //margin-bottom: 20px;
  width: 100%;
}

.management__preview {
  //height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.management__pic {
  width: 100%;
}

.management__img {
  width: 100%;
  max-width: 100%;
  //width: auto;

  //max-height: 100%;
  //height: auto;
}

.management__post {
  display: block;
  margin-bottom: 20px;

  color: $yellowMain;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.management__name {
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
