.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto 60px;
  @media (min-width: 600px) {
    flex-wrap: nowrap;
    max-width: 450px;
  }
}

.pagination__arrow {
  position: relative;
  display: block;
  color: $bgBlack;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  &:before {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 5px;
    height: 10px;
  }
}

.pagination__arrow--not-active {
  color: #bdbdbd;
  cursor: default;
}

.pagination__arrow--prev {
  order: 1;
  padding: 0 30px 0 15px;

  &:before {
    @include font-icon-style("\e91a", 10px);
    left: 0;
    font-weight: bold;
  }
  @media (min-width: 600px) {
    order: 0;
    padding: 0 0 0 15px;
  }
}

.pagination__arrow--next {
  order: 2;
  padding-right: 15px;

  &:before {
    @include font-icon-style("\e91b", 10px);
    right: 0;
    font-weight: bold;
  }
  @media (min-width: 600px) {
    order: 0;
  }
}

.pagination__list {
  order: 0;
  display: flex;
  justify-content: center;
  //padding: 0 15px;
  width: 100%;
  margin-bottom: 40px;
  @media (min-width: 600px) {
    padding: 0 40px;
    margin-bottom: 0px;
  }
}

.pagination__item {
  overflow: hidden;
  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}

.pagination__link {
  display: block;
  width: 40px;
  padding: 12px 0;
  background: $pearl;
  transition: 0.2s ease-in-out;

  text-align: center;
  color: $blackMain;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    background: $yellowMain;
  }
}

.pagination__link--active {
  background: $yellowMain;
}

.pagination__link--fake {
  &:hover {
    background: $pearl;
  }
}
