.product-line {
  display: flex;
  align-items: center;
  border: 1px solid $line;
  height: 124px;
  padding: 0 48px 0 20px;
  transition: 0.2s ease-in-out;
  &:hover {
    border: 1px solid $yellowMain;
  }
}

.product-line__info {
  width: 400px;
  margin-right: 130px;
}

.product-line__title {
  margin-bottom: 10px;
}

.product-line__link {
  color: $blackMain;
  font-size: 16px;
  line-height: 22px;
  transition: 0.2 ease-in-out;
  &:hover {
    color: $yellowMain;
  }
}

.product-line__desc {
  font-size: 12px;
  line-height: 16px;
}

.product-line__btn {
  position: relative;
  margin-left: auto;
  width: 180px;
  padding: 10px 15px;
  &:hover {
    background: $yellowHover;
    border: 2px solid $yellowHover;
  }
}
