.review-card {
  min-width: 100%;
  background: $pearl;
  min-height: 387px;
  padding: 30px 20px;
  margin-right: 20px;
  @media (min-width: 800px) {
    min-width: 49%;
  }
  @media (min-width: 1310px) {
    min-width: 630px;

    padding: 50px;
    margin-right: 20px;
  }
}

.review-card__img {
  position: relative;
  display: block;
  width: 150px;
  height: 80px;
  margin-left: auto;
  color: #004e94;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }
}

.review-card__img--severstal {
  &::before {
    @include font-icon-style("\e921", 45px);
  }
}

.review-card__img--nlmk {
  &::before {
    @include font-icon-style("\e904", 60px);
  }
}

.review-card__title {
  margin-bottom: 20px;

  color: $black;
  font-size: 24px;
  line-height: 160%;
}

.review-card__text {
  color: $black;

  font-size: 16px;
  line-height: 160%;
}
